* {
    color: white;
}

.row {
    --bs-gutter-x: 0;
}

#loginPage {
    background-color: rgb(25, 25, 25);
}

.form-control {
    border: 1px solid #292d8d;
    color: #000;
}

.form-control:focus {
    background-color: #fff;
    border: 1px solid white;
    box-shadow: none;
}

label {
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.form-group{
    margin-bottom: 1rem;
}

#loginCard {
    background-color: #292d8d;
}

#footer {
    display: flex;
    justify-content: space-between;
}