.container-fluid {
    padding-left: 0;
    padding-right: 0;
    --bs-gutter-x: 0;

    .row {
        --bs-gutter-x: 0;
    }
}

#mainpage {
    background-color: rgb(25, 25, 25);
    color: white;
}

#middle {
    padding: 20px 0px 50px 50px;
    overflow: auto;
    height: 100vh;
}

#content {
    margin-top: 50px;
}

#recipeview {
    padding-right: 50px;
    text-align: justify;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    --bs-modal-header-border-color: rgb(100, 100, 100);
    --bs-modal-footer-border-color: rgb(100, 100, 100);
    color: rgb(220, 220, 220);
}

.modal-content {
    background-color: rgb(25, 25, 25);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
    padding: 1rem 1rem
}

.modal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    opacity: 0.8;
}
