form {
    display: inline;
    margin: 0;
    padding: 0;
}

#searchBox {
    --rad: .7rem;
    --dur: .3s;
    --color-brand: #292d8d;
    --font-fam: 'Lato', sans-serif;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.5, 1.49);
    position: relative;
    background-color: #292d8d;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}

input[type="search"],
#searchButton {
    height: 40px;
    font-family: var(--font-fam);
    border: 0;
    border-radius: 3px;
    color: #2f2f2f;
    font-size: 20px;
}

input[type="search"] {
    width: 100%;
    padding: 0 1rem;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

#searchButton {
    display: none;
    /*prevent being able to tab to it*/
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background-color: #292d8d;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

input:not(:placeholder-shown) {
    width: calc(100% - var(--btn-width));

    +#searchButton {
        display: block;
    }
}

input:focus {
    border: 2px solid #8b8ef5;
}

input:hover {
    border: 2px solid #8b8ef5;
}

input:focus {
    outline: none;
}

input:hover {
    outline: none;
}

.dropdown-menu{
    background-color: #2a2a2a;
}

.dropdown-item:hover{
    background-color: #2b2b2b;
    color: white;
}

#allergensList{
    li{
        margin-left: 10px;
        color: white
    }
}

#allergensButton{
    margin-top: 3px;
}

.decreasedpadding{
    padding-left: 5px;
    padding-right: 5px;
}