#sidebar {
  height: 60%;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin: 0;
  background: #292d8d;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 20vh;
}

#sidebar h2 {
  margin-bottom: 50px;
  font-weight: 700;
}

#sidebar h2 .logo {
  color: #fff;
}

.noUnderline {
  text-decoration: none;
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
  color: #fff;
}